/*-- scss:defaults --*/

$navbar-fg: rgb(255, 255, 255);
$navbar-hover: rgb(220, 220, 220);

$navbar-hover-transition: 0.2s ease-in-out;

/*-- scss:rules --*/

/* publication link buttons */
.publink {
  text-decoration: none;
  font-size: 0.8em;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  border: solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* navigation bar: title */
.navbar-brand {
  font-weight: bold;
}

/* navigation bar: active item */
.navbar-nav .nav-link.active {
  color: $link-color;
}

/* navigation bar: item hover */
.nav-link:hover {
  color: $navbar-hover;
  transition: $navbar-hover-transition;
}

/* navigation bar: tool hover */
.navbar .quarto-navbar-tools .quarto-navigation-tool:hover {
  color: $navbar-hover;
  transition: $navbar-hover-transition;
}

/* navigation bar: search hover */
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon:hover {
  color: $navbar-hover;
  transition: $navbar-hover-transition;
}

/* footer */
footer.footer .nav-footer {
  padding-left: 2em;
  padding-right: 2em;
}

/* footer: link hover */
.nav-footer a:hover {
  color: $link-color;
}
