/*-- scss:defaults --*/

$navbar-fg: rgb(255, 255, 255);
$navbar-hover: rgb(200, 200, 200);
$navbar-hover-transition: 0.2s ease-in-out;

/*-- scss:rules --*/

/* navigation bar: title */
.navbar-brand {
  font-weight: bold;
}

/* navigation bar: active item */
.navbar-nav .nav-link.active {
  color: $link-color;
}

/* navigation bar: item hover */
.nav-link:hover {
  color: $navbar-hover;
  transition: $navbar-hover-transition;
}

/* navigation bar: tool hover */
.navbar .quarto-navbar-tools .quarto-navigation-tool:hover {
  color: $navbar-hover;
  transition: $navbar-hover-transition;
}

/* navigation bar: search hover */
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon:hover {
  color: $navbar-hover;
  transition: $navbar-hover-transition;
}

/* footer */
footer.footer .nav-footer {
  padding-left: 2em;
  padding-right: 2em;
}

/* footer: link hover */
.nav-footer a:hover {
  color: $link-color;
}
